<div class="container">
    <div class="jumbotron">
        <h1>Vending Machine</h1>
    </div>

    <div class="alert alert-success" role="alert" v-if="showThankyou"> <strong>THANK YOU!</strong> Don't forget to collect your item and change. </div>
    <div class="alert alert-danger" role="alert" v-if="showSorry"> <strong>PRICE:</strong> {{ sorryMessage }} </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-6 col-md-4" v-for="stockItem in stockItems">
                <div class="thumbnail">
                    <img alt="Vending Machine" v-bind:data-src="stockItem.Image" v-bind:src="stockItem.Image" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                    <div class="caption">
                        <h3>{{ stockItem.Name }} - {{ getPriceFormatted(stockItem.Price) }}</h3>
                        <p>{{ stockItem.Description }}</p>
                        <p>
                            <button class="btn btn-info" role="button" v-on:click="buy(stockItem)">Buy</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" v-if="inserted.length == 0">INSERT COINS</h3>
                        <h3 class="panel-title" v-if="inserted.length > 0">Inserted: {{ getPriceFormatted(insertedTotal) }}</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Single button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Insert Coin <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a v-for="coinType in coinTypes" v-on:click="insertCoin(coinType)">{{ coinType.Name }}</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-danger" v-on:click="returnCoins()">
                            Return
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change</h3>
                    </div>
                    <div class="panel-body">
                        <p v-if="rejected.length === 0">Empty</p>
                        <div v-if="rejected.length > 0">
                            <button v-for="(rejectedCoin, index) in rejected" type="button" class="btn btn-success" v-on:click="collectCoin(index)">
                                {{ rejectedCoin.Name }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Items</h3>
                </div>
                <div class="panel-body">
                    <p v-if="purchasedItems.length === 0">Empty</p>
                    <div v-if="purchasedItems.length > 0">
                        <button type="button" class="btn btn-danger" v-for="(item, index) in purchasedItems" v-on:click="collectItem(index)">
                            {{ item.Name }}
                        </button>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>